@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-width: 300px;
  --card-height: 360px;
  --body-bg: #212b4e;
  --font-family: "Roboto";
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg);
  font-family: var(--font-family);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cards {
  height: var(--card-height);
  width: var(--card-width);
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  position: relative;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.cards:hover {
  transform: translateY(20px);
}

.cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  z-index: 2;
  opacity: 0;
  transition: 0.2s;
}

.cards:hover::before {
  opacity: 0.5;
}

.cards img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.cards .recipe-info {
  position: relative;
  z-index: 3;
  color: #fff;
  transform: translateX(10px);
  transition: 0.5s ease-in-out;
  opacity: 0;
  margin-left: -30px;
}

.cards:hover .recipe-info {
  opacity: 1;
}

.recipe-btn {
  background: transparent;
  margin-top: 1.5rem;
  height: 2rem;
  width: 5.5rem;
  border: 2px solid #fff;
  color: #fff;
  font-family: var(--font-family);
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.2s;
}

.recipe-btn:hover {
  background-color: #fff;
  color: #000;
}

.recipe-title {
  font-size: 2rem;
}
