@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cards-width: 300px;
  --cards-height: 360px;
  --body-bg: rgb(33, 43, 78);
  --body-bg-blur: rgba(33, 43, 78, 0.2);
  --font-color: #fff;
  --font-family: "Poppins", sans-serif;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg);
  font-family: var(--font-family);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cards {
  height: var(--cards-height);
  width: var(--cards-width);
  background-color: var(--font-color);
  display: flex;
  border-radius: 15px;
  align-items: flex-end;
  padding: 2rem;
  position: relative;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.cards:hover {
  transform: translateY(20px);
}

.cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  z-index: 2;
  opacity: 0;
  transition: 0.2s;
}

.cards:hover::before {
  opacity: 0.6;
}

.cards img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 15px;
}

.cards .recipe-info {
  position: relative;
  z-index: 3;
  color: var(--font-color);
  transform: translateX(10px);
  transition: 0.5s ease-in-out;
  opacity: 0;
  margin-left: -30px;
}

.cards:hover .recipe-info {
  opacity: 1;
}

.recipe-btn {
  background: transparent;
  margin-top: 1rem;
  height: 2rem;
  width: 6rem;
  border: 2px solid var(--font-color);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

.recipe-btn:hover {
  background-color: var(--font-color);
  color: #000;
}

.recipe-title {
  font-size: 2rem;
  letter-spacing: 1px;
}

.popup-view {
  z-index: 4;

  background: var(--body-bg-blur);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.popup-view.active {
  visibility: visible;
  opacity: 1;
}

.popup-card {
  z-index: 4;
  position: relative;
  display: flex;
  width: 800px;
  height: 500px;
  margin: 20px;
}

.popup-card .food-img {
  z-index: 2;
  background: transparent;
  /* background: pink; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90%;
  transform: translateY(25px);
}

.popup-card .food-img img {
  z-index: 4;
  position: relative;
  width: var(--cards-width);
  height: var(--cards-height);
  left: 30px;
  margin-top: 2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.popup-card .food-info {
  z-index: 4;
  background: var(--font-color);
  display: flex;
  flex-direction: column;
  width: 55%;
  font: 100%;
  padding: 3rem 2rem;
  border-radius: 10px;
}

.close {
  position: absolute;
  color: #000;
  z-index: 5;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.food-name {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.line_br {
  width: 100%;
  height: 0.3px;
  background-color: rgba(128, 128, 128, 0.342);
  margin-bottom: 4rem;
  margin-top: 0.5rem;
}

.food-details {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  text-align: center;
  /* background-color: aqua; */
}

.detail i {
  display: inline-block;
  color: var(--body-bg);
}
.time {
  float: right;
  font-size: 1.7rem;
  margin-left: 0.5rem;
}

.mean-text {
  text-transform: capitalize;
  font-size: 1rem;
  text-align: center;
}

.visit {
  margin-top: 3rem;
  height: 3rem;
  width: 55%;
  margin: auto;
  background-color: var(--body-bg);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  cursor: pointer;
}
.visit:hover {
  transform: scale(1.1);
}

.visit a {
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 1.2rem;
  color: var(--font-color);
}

.snack {
  text-align: center;
}

.a {
  margin-top: 0.5rem;
}

/* ? Responsive styles */

@media (max-width: 900px) {
  .popup-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: auto;
  }

  .popup-card .food-img {
    z-index: 4;
    width: 100%;
    height: 220px;
    transform: translateY(0);
    /* background-color: aqua; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .popup-card .food-img img {
    width: 70%;
    height: 230px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    /* border-bottom-right-radius: 10px; */
    margin-right: 3.7em;
  }

  .popup-card .food-info {
    width: 70%;
    /* height: auto */
    /* margin-left: 3.7em; */
    margin-top: 1em;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .line_br {
    margin-bottom: 2rem;
  }
  .visit {
    margin-top: 1rem;
  }

  .popup-card .close {
    color: var(--font-color);
  }
}
